@media (max-width: 414px) {
  .cabecalho .logo {
    width: 7.5rem;
    top: 1.2rem;
    left: 1rem;
  }

  #dia {
    font-size: 2rem;
    top: 5rem;
    left: 1rem;
  }

  .saudacao {
    font-size: 1.1rem;
    left: 1.1rem;
  }

  .yo {
    width: 10rem;
    top: 13rem;
    left: 7.5rem;
    border-radius: 7rem;
  }

  .um .h3 {
    top: 27rem;
    left: 5.5rem;
  }

  .um .apelido {
    top: 28.6rem;
    left: 5.5rem;
  }

  .um .webdev {
    top: 32.5rem;
    left: 5.5rem;
  }

  .um .local {
    top: 34rem;
    left: 5.5rem;
  }

  .um .email {
    top: 36rem;
    left: 5.5rem;
  }
}
