@media (max-width: 414px) {
  .cabecalho .logo {
    width: 7.5rem;
    top: 1.2rem;
    left: 1rem;
  }

  .cabecalho .menu {
    top: 1.2rem;
    left: 20rem;
  }

  .cabecalho .contatos {
    font-weight: 400;
  }

  nav {
    height: 37rem;
  }

  #dia {
    font-size: 2rem;
    top: 5rem;
    left: 1rem;
  }

  .saudacao {
    font-size: 1.1rem;
    left: 1.1rem;
  }

  .yo {
    width: 11rem;
    top: 13rem;
    left: 7rem;
    border-radius: 7rem;
  }

  .css {
    width: 3rem;
    top: 12.5rem;
    left: 6.5rem;
  }

  .react {
    width: 4rem;
    top: 15.5rem;
    left: 17rem;
  }

  .js {
    width: 3rem;
    top: 24rem;
    left: 7.5rem;
  }

  .um .h3 {
    top: 29.5rem;
    left: 5.5rem;
  }

  .um .apelido {
    top: 31.1rem;
    left: 5.5rem;
  }

  .um .webdev {
    top: 34.5rem;
    left: 5.5rem;
    font-size: 1.1rem;
  }

  .um .local {
    top: 36rem;
    left: 5.5rem;
    font-size: 1.1rem;
  }

  .um .email {
    top: 37.5rem;
    left: 5.5rem;
    font-size: 1.1rem;
  }

  .dois .title {
    left: 3.8rem;
  }

  .dois .desc {
    top: 54rem;
    left: 2rem;
  }

  .dois .projetos {
    top: 73rem;
    left: 10rem;
  }

  .dois .card1 {
    width: 10rem;
    height: 10rem;
    top: 78rem;
    left: 2.3rem;
  }

  .dois .card2 {
    width: 10rem;
    height: 10rem;
    top: 78rem;
    left: 13.3rem;
  }

  .dois .card3 {
    width: 10rem;
    height: 10rem;
    top: 89rem;
    left: 2.3rem;
  }

  .dois .card4 {
    width: 10rem;
    height: 10rem;
    top: 89rem;
    left: 13.3rem;
  }

  .dois .card5 {
    width: 10rem;
    height: 10rem;
    top: 100rem;
    left: 2.3rem;
  }

  .dois .card6 {
    width: 10rem;
    height: 10rem;
    top: 100rem;
    left: 13.3rem;
  }

  .dois .card7 {
    width: 10rem;
    height: 10rem;
    top: 111rem;
    left: 2.3rem;
  }

  .dois .card8 {
    width: 10rem;
    height: 10rem;
    top: 111rem;
    left: 13.3rem;
  }

  .dois .t-github {
    top: 123rem;
    left: 6rem;
  }

  .dois .github {
    top: 125rem;
    left: 10.6rem;
  }

  .dois .s-github {
    top: 130rem;
    left: 11.3rem;
  }
}
