@media (max-width: 414px) {
  .cabecalho .logo {
    width: 7.5rem;
    top: 1.2rem;
    left: 1rem;
  }

  .cabecalho .menu {
    top: 1.2rem;
    left: 22rem;
  }

  .cabecalho .correio {
    font-size: 2rem;
    margin-top: 0;
    margin-left: 3.6rem;
    margin-bottom: 0.5rem;
  }

  nav {
    height: 38.6rem;
  }

  #dia {
    font-size: 2rem;
    top: 5rem;
    left: 1rem;
  }

  .saudacao {
    font-size: 1.1rem;
    left: 1.1rem;
  }

  .yo {
    width: 11rem;
    top: 14rem;
    left: 7rem;
    border-radius: 7rem;
  }

  .css {
    width: 3rem;
    top: 13.5rem;
    left: 6.5rem;
  }

  .react {
    width: 4rem;
    top: 16.5rem;
    left: 17rem;
  }

  .js {
    width: 3rem;
    top: 25rem;
    left: 7.5rem;
  }

  .um .h3 {
    top: 30.5rem;
    left: 5.5rem;
  }

  .um .apelido {
    top: 32.1rem;
    left: 5.5rem;
  }

  .um .webdev {
    top: 36.5rem;
    left: 5.5rem;
    font-size: 1.1rem;
  }

  .um .local {
    top: 38rem;
    left: 5.5rem;
    font-size: 1.1rem;
  }

  .um .email {
    top: 39.5rem;
    left: 5.5rem;
    font-size: 1.1rem;
  }

  .dois .title {
    top: 53rem;
    left: 3.8rem;
  }

  .dois .desc {
    top: 58rem;
    left: 2rem;
  }

  .dois .projetos {
    top: 81rem;
    left: 7rem;
  }

  .dois .card1 {
    width: 10rem;
    height: 10rem;
    top: 86rem;
    left: 2.3rem;
  }

  .dois .card2 {
    width: 10rem;
    height: 10rem;
    top: 86rem;
    left: 13.3rem;
  }

  .dois .card3 {
    width: 10rem;
    height: 10rem;
    top: 97rem;
    left: 2.3rem;
  }

  .dois .card4 {
    width: 10rem;
    height: 10rem;
    top: 97rem;
    left: 13.3rem;
  }

  .dois .card5 {
    width: 10rem;
    height: 10rem;
    top: 108rem;
    left: 2.3rem;
  }

  .dois .card6 {
    width: 10rem;
    height: 10rem;
    top: 108rem;
    left: 13.3rem;
  }

  .dois .card7 {
    width: 10rem;
    height: 10rem;
    top: 119rem;
    left: 2.3rem;
  }

  .dois .card8 {
    width: 10rem;
    height: 10rem;
    top: 119rem;
    left: 13.3rem;
  }

  .dois .t-github {
    top: 131rem;
    left: 6rem;
  }

  .dois .github {
    top: 133rem;
    left: 10.6rem;
  }

  .dois .s-github {
    top: 138rem;
    left: 11.3rem;
  }

  .tres .start {
    top: 197rem;
  }

  .tres .total {
    position: absolute;
    top: 201rem;
  }

  .tres .counter {
    top: 201rem;
    right: 1rem;
  }
}
