* {
  margin: 0;
  padding: 0;
  color: #c9d1d9;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Fixed Header */

.cabecalho {
  z-index: 10;
  background: #000000;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 100vw;
}

.cabecalho--fixo {
  width: 100vw;
  height: 3.7rem;
  top: 0%;
  left: 0;
  position: fixed;
  box-shadow: 0px 0px 0px 1px #00131a;
}

/* Logo */

.cabecalho .logo {
  width: 8rem;
  top: 1.1em;
  left: 9rem;
  position: absolute;
}

/* menu */

.cabecalho a {
  text-decoration: none;
}

.cabecalho ul {
  list-style: none;
}

.cabecalho .menu {
  width: 2.5rem;
  position: absolute;
  top: 1.2rem;
  left: 73rem;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

input[type="checkbox"] {
  display: none;
}

nav {
  position: absolute;
  top: 3.7rem;
  right: -21.8rem;
  background-color: #000000;
  width: 10rem;
  height: 37.55rem;
  transition: all 500ms ease-in-out;
}

input[type="checkbox"]:checked ~ nav {
  transform: translateX(-21.8rem);
}

.cabecalho .correio {
  font-size: 3rem;
  margin-top: -1.6rem;
  margin-left: 2.75rem;
}

.cabecalho .a {
  font-size: 2rem;
  display: block;
  padding: 0.6rem 4rem;
  transition: all 300ms ease-in-out;
}

.cabecalho .a:hover {
  background-color: #00131a;
  transform: scale(1.05);
}

.cabecalho label {
  padding: 0.9rem;
  position: absolute;
  top: 0.03rem;
  left: 0;
  z-index: 1;
}

/* body */

body {
  width: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#030008),
    to(#00131a)
  );
  overflow-x: hidden;
}

.um {
  height: 100vh;
  width: 100vw;
}

#dia {
  font-size: 2.3rem;
  font-weight: 500;
  top: 5rem;
  left: 9rem;
  color: #6b727c;
  position: absolute;
  visibility: hidden;
}

.saudacao {
  font-size: 1.3rem;
  color: #c9d1d9;
  top: 7.5rem;
  left: 9.1rem;
  position: absolute;
  visibility: hidden;
}

.yo {
  width: 17rem;
  top: 10rem;
  left: 34.5rem;
  position: absolute;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.yo:hover {
  transform: scale(1.02);
}

.css {
  width: 4rem;
  top: 11rem;
  left: 33.3rem;
  position: absolute;
}

.react {
  width: 4.5rem;
  top: 12.3rem;
  left: 48rem;
  position: absolute;
  animation: girar 24s linear infinite;
}

@keyframes girar {
  0% {
    transform: translate(50%, 50%) rotate(0deg);
  }
  100% {
    transform: translate(50%, 50%) rotate(-360deg);
  }
}

.js {
  width: 3.5rem;
  top: 25.5rem;
  left: 36rem;
  position: absolute;
}

.um .h3 {
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  top: 31rem;
  left: 35.5rem;
  color: #c9d1d9;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.um .h3:hover {
  color: #fff;
}

.um .h3::after {
  content: "|";
  opacity: 1;
  margin-left: 0.3rem;
  display: inline-block;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.um .apelido {
  top: 32.6rem;
  left: 35.5rem;
  cursor: pointer;
  font-size: 1.3rem;
  font-style: italic;
  color: #6b727c;
  position: absolute;
  transition: all 300ms ease-in-out;
}

.um .apelido:hover {
  color: #c9d1d9;
}

.um .webdev {
  top: 36rem;
  left: 35.5rem;
  cursor: pointer;
  color: #c9d1d9;
  position: absolute;
}

.um .local {
  top: 37.5rem;
  left: 35.8rem;
  cursor: pointer;
  color: #c9d1d9;
  position: absolute;
  transition: all 300ms ease-in-out;
}

.um .local:hover {
  color: #fff;
}

.um .email {
  top: 39rem;
  left: 35.5rem;
  color: #c9d1d9;
  text-decoration: none;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.um .email:hover {
  color: #fff;
  text-decoration: underline;
}

.dois {
  height: 200vh;
  width: 100vw;
}

.dois .title {
  top: 50rem;
  left: 33rem;
  cursor: pointer;
  font-size: 1.3rem;
  color: #c9d1d9;
  position: absolute;
  transition: all 300ms ease-in-out;
}

.dois .title:hover {
  color: #fff;
}

.dois .desc {
  color: #c9d1d9;
  top: 55rem;
  left: 22rem;
  position: absolute;
}

.dois .projetos {
  top: 70rem;
  left: 36rem;
  cursor: pointer;
  font-size: 1.3rem;
  color: #c9d1d9;
  position: absolute;
  transition: all 300ms ease-in-out;
}

.dois .projetos:hover {
  color: #fff;
}

.dois .card1 {
  width: 12rem;
  height: 12rem;
  top: 75rem;
  left: 23.6rem;
  border-radius: 0.1rem;
  position: absolute;
  display: grid;
  place-items: center;
  grid-template-areas: "main";

  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
}

.dois .card1 > * {
  grid-area: main;
}

.dois .card1 > .img1 {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  transition: transform 400ms, filter 400ms;
}

.dois .card1 > .text1 {
  opacity: 0;
  color: #fff;
  font-size: 1.3rem;

  transition: opacity 400ms, transform 400ms;
}

.dois .card1:is(:hover, :focus) > .img1 {
  transform: scale(1.1);
  filter: brightness(0.4);
}

.dois .card1:is(:hover, :focus) > .text1 {
  transform: scale(1.2);
  opacity: 1;
}

.dois .card2 {
  width: 12rem;
  height: 12rem;
  top: 75rem;
  left: 36.6rem;
  border-radius: 0.1rem;
  position: absolute;
  display: grid;
  place-items: center;
  grid-template-areas: "main";

  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
}

.dois .card2 > * {
  grid-area: main;
}

.dois .card2 > .img2 {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  transition: transform 400ms, filter 400ms;
}

.dois .card2 > .text2 {
  opacity: 0;
  color: #fff;
  font-size: 1.3rem;

  transition: opacity 400ms, transform 400ms;
}

.dois .card2:is(:hover, :focus) > .img2 {
  transform: scale(1.1);
  filter: brightness(0.4);
}

.dois .card2:is(:hover, :focus) > .text2 {
  transform: scale(1.2);
  opacity: 1;
}

.dois .card3 {
  width: 12rem;
  height: 12rem;
  top: 75rem;
  left: 49.6rem;
  border-radius: 0.1rem;
  position: absolute;
  display: grid;
  place-items: center;
  grid-template-areas: "main";

  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
}

.dois .card3 > * {
  grid-area: main;
}

.dois .card3 > .img3 {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  transition: transform 400ms, filter 400ms;
}

.dois .card3 > .text3 {
  opacity: 0;
  color: #fff;
  font-size: 1.3rem;

  transition: opacity 400ms, transform 400ms;
}

.dois .card3:is(:hover, :focus) > .img3 {
  transform: scale(1.1);
  filter: brightness(0.4);
}

.dois .card3:is(:hover, :focus) > .text3 {
  transform: scale(1.2);
  opacity: 1;
}

.dois .card4 {
  width: 12rem;
  height: 12rem;
  top: 88rem;
  left: 49.6rem;
  border-radius: 0.1rem;
  position: absolute;
  display: grid;
  place-items: center;
  grid-template-areas: "main";

  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
}

.dois .card4 > * {
  grid-area: main;
}

.dois .card4 > .img4 {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  transition: transform 400ms, filter 400ms;
}

.dois .card4 > .text4 {
  opacity: 0;
  color: #fff;
  font-size: 1.3rem;

  transition: opacity 400ms, transform 400ms;
}

.dois .card4:is(:hover, :focus) > .img4 {
  transform: scale(1.1);
  filter: brightness(0.4);
}

.dois .card4:is(:hover, :focus) > .text4 {
  transform: scale(1.2);
  opacity: 1;
}

.dois .card5 {
  width: 12rem;
  height: 12rem;
  top: 88rem;
  left: 36.6rem;
  border-radius: 0.1rem;
  position: absolute;
  display: grid;
  place-items: center;
  grid-template-areas: "main";

  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
}

.dois .card5 > * {
  grid-area: main;
}

.dois .card5 > .img5 {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  transition: transform 400ms, filter 400ms;
}

.dois .card5 > .text5 {
  opacity: 0;
  color: #fff;
  font-size: 1.3rem;

  transition: opacity 400ms, transform 400ms;
}

.dois .card5:is(:hover, :focus) > .img5 {
  transform: scale(1.1);
  filter: brightness(0.4);
}

.dois .card5:is(:hover, :focus) > .text5 {
  transform: scale(1.2);
  opacity: 1;
}

.dois .card6 {
  width: 12rem;
  height: 12rem;
  top: 88rem;
  left: 23.6rem;
  border-radius: 0.1rem;
  position: absolute;
  display: grid;
  place-items: center;
  grid-template-areas: "main";

  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
}

.dois .card6 > * {
  grid-area: main;
}

.dois .card6 > .img6 {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  transition: transform 400ms, filter 400ms;
}

.dois .card6 > .text6 {
  opacity: 0;
  color: #fff;
  font-size: 1.3rem;

  transition: opacity 400ms, transform 400ms;
}

.dois .card6:is(:hover, :focus) > .img6 {
  transform: scale(1.1);
  filter: brightness(0.4);
}

.dois .card6:is(:hover, :focus) > .text6 {
  transform: scale(1.2);
  opacity: 1;
}

.dois .card7 {
  width: 12rem;
  height: 12rem;
  top: 101rem;
  left: 30rem;
  border-radius: 0.1rem;
  position: absolute;
  display: grid;
  place-items: center;
  grid-template-areas: "main";

  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
}

.dois .card7 > * {
  grid-area: main;
}

.dois .card7 > .img7 {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  transition: transform 400ms, filter 400ms;
}

.dois .card7 > .text7 {
  opacity: 0;
  color: #fff;
  font-size: 1.3rem;

  transition: opacity 400ms, transform 400ms;
}

.dois .card7:is(:hover, :focus) > .img7 {
  transform: scale(1.1);
  filter: brightness(0.4);
}

.dois .card7:is(:hover, :focus) > .text7 {
  transform: scale(1.2);
  opacity: 1;
}

.dois .card8 {
  width: 12rem;
  height: 12rem;
  top: 101rem;
  left: 43rem;
  border-radius: 0.1rem;
  position: absolute;
  display: grid;
  place-items: center;
  grid-template-areas: "main";

  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
}

.dois .card8 > * {
  grid-area: main;
}

.dois .card8 > .img8 {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  transition: transform 400ms, filter 400ms;
}

.dois .card8 > .text8 {
  opacity: 0;
  color: #fff;
  font-size: 1.3rem;

  transition: opacity 400ms, transform 400ms;
}

.dois .card8:is(:hover, :focus) > .img8 {
  transform: scale(1.1);
  filter: brightness(0.4);
}

.dois .card8:is(:hover, :focus) > .text8 {
  transform: scale(1.2);
  opacity: 1;
}

.dois .t-github {
  top: 115rem;
  left: 35.5rem;
  font-size: 1rem;
  color: #c9d1d9;
  position: absolute;
  text-decoration: none;
}

.dois .img-github {
  width: 4.5rem;
  border-radius: 2.25rem;
  top: 117rem;
  left: 40.3rem;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.dois .img-github:hover {
  transform: scale(1.03);
}

.dois .s-github {
  top: 122rem;
  left: 41rem;
  font-size: 1rem;
  color: #c9d1d9;
  position: absolute;
  transition: all 300ms ease-in-out;
}

.dois .s-github a {
  text-decoration: none;
  transition: all 300ms ease-in-out;
}

.dois .s-github a:hover {
  color: #fff;
}

.dois .s-bat {
  position: absolute;
  top: 127rem;
  left: 24rem;
}

.dois .bat {
  position: absolute;
  top: 130rem;
  left: 37.5rem;
  width: 10rem;
  padding: 0.2rem 0.2rem;
  border: 2px solid #c9d1d9;
  border-radius: 50%;
  transition: all 300ms ease-in-out;
}

.dois .bat:hover {
  transform: scale(1.02);
}

.dois .n-bat {
  position: absolute;
  top: 140rem;
  left: 38.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all 300ms ease-in-out;
}

.dois .n-bat:hover {
  color: #fff;
}

.tres {
  width: 100vw;
  height: 100vh;
}

.tres .conhecimentos {
  top: 148rem;
  left: 36.5rem;
  cursor: pointer;
  font-size: 1.4rem;
  color: #c9d1d9;
  position: absolute;
  transition: all 300ms ease-in-out;
}

.tres .obs {
  position: absolute;
  font-size: 0.9rem;
  top: 150rem;
  left: 30.5rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.tres .obs:hover {
  color: #fff;
}

.tres .conhecimentos:hover {
  color: #fff;
}

.tres .card-html {
  top: 30rem;
  left: 12rem;
  position: relative;
  width: 19rem;
  height: 15rem;
  border-radius: 1.2rem;
  display: flex;
  align-items: center;
  border-radius: 1.2rem;
  transition: all 0.5s ease-in-out;
}

.tres .card-html .circle1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.tres .card-html .circle1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  clip-path: circle(3.5rem at center);
  transition: all 0.5s ease-in-out;
}

.tres .card-html:hover .circle1:before {
  background: linear-gradient(to right, #c9d1d9, #00131a);
  clip-path: circle(25rem at center);
}

.tres .card-html .img-html {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 4.3rem;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  filter: drop-shadow(0 0 1em #c9d1d9);
}

.tres .card-html:hover .img-html {
  left: 78%;
  height: 3.7rem;
}

.tres .card-html .content1 {
  position: relative;
  width: 70%;
  left: 5%;
  padding: 1rem 1rem 1rem 1rem;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.tres .card-html:hover .content1 {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.tres .card-html .content1 .t-html {
  font-size: 1.2rem;
  text-transform: uppercase;
  line-height: 1em;
  margin-bottom: 5px;
  color: #000000;
}

.tres .card-html .content1 .desc-html {
  font-size: 1.2rem;
  color: #000000;
}

.tres .card-css {
  top: 15rem;
  left: 26rem;
  position: relative;
  width: 19rem;
  height: 15rem;
  border-radius: 1.2rem;
  display: flex;
  align-items: center;
  border-radius: 1.2rem;
  transition: all 0.5s ease-in-out;
}

.tres .card-css .circle2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.tres .card-css .circle2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  clip-path: circle(3.5rem at center);
  transition: all 0.5s ease-in-out;
}

.tres .card-css:hover .circle2:before {
  background: linear-gradient(to right, #c9d1d9, #00131a);
  clip-path: circle(25rem at center);
}

.tres .card-css .img-css {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 4.5rem;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  filter: drop-shadow(0 0 1em #c9d1d9);
}

.tres .card-css:hover .img-css {
  left: 78%;
  height: 4rem;
}

.tres .card-css .content2 {
  position: relative;
  width: 70%;
  left: 5%;
  padding: 1rem 1rem 1rem 1rem;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.tres .card-css:hover .content2 {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.tres .card-css .content2 .t-css {
  font-size: 1.3rem;
  text-transform: uppercase;
  line-height: 1em;
  margin-bottom: 5px;
  color: #000000;
}

.tres .card-css .content2 .desc-css {
  font-size: 1.2rem;
  color: #000000;
}

.tres .card-js {
  top: 0;
  left: 40rem;
  position: relative;
  width: 19rem;
  height: 15rem;
  border-radius: 1.2rem;
  display: flex;
  align-items: center;
  border-radius: 1.2rem;
  transition: all 0.5s ease-in-out;
}

.tres .card-js .circle3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.tres .card-js .circle3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  clip-path: circle(3.5rem at center);
  transition: all 0.5s ease-in-out;
}

.tres .card-js:hover .circle3:before {
  background: linear-gradient(to right, #c9d1d9, #00131a);
  clip-path: circle(25rem at center);
}

.tres .card-js .img-js {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 4rem;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  filter: drop-shadow(0 0 1em #c9d1d9);
}

.tres .card-js:hover .img-js {
  left: 78%;
  height: 3.5rem;
}

.tres .card-js .content3 {
  position: relative;
  width: 70%;
  left: 5%;
  padding: 1rem 1rem 1rem 1rem;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.tres .card-js:hover .content3 {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.tres .card-js .content3 .t-js {
  font-size: 1.3rem;
  line-height: 1em;
  margin-bottom: 5px;
  color: #000000;
}

.tres .card-js .content3 .desc-js {
  font-size: 1.2rem;
  color: #000000;
}

.tres .card-react {
  top: -15rem;
  left: 54rem;
  position: relative;
  width: 19rem;
  height: 15rem;
  border-radius: 1.2rem;
  display: flex;
  align-items: center;
  border-radius: 1.2rem;
  transition: all 0.5s ease-in-out;
}

.tres .card-react .circle4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.tres .card-react .circle4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  clip-path: circle(3.5rem at center);
  transition: all 0.5s ease-in-out;
}

.tres .card-react:hover .circle4:before {
  background: linear-gradient(to right, #c9d1d9, #00131a);
  clip-path: circle(25rem at center);
}

.tres .card-react .img-react {
  position: absolute;
  top: 20%;
  left: 26.5%;
  transform: translate(-50%, -50%);
  height: 4.5rem;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  filter: drop-shadow(0 0 1em #c9d1d9);
  animation: girar 24s linear infinite;
}

@keyframes girar {
  0% {
    transform: translate(50%, 50%) rotate(0deg);
  }
  100% {
    transform: translate(50%, 50%) rotate(-360deg);
  }
}

.tres .card-react:hover .img-react {
  top: 25%;
  left: 60%;
  height: 4rem;
}

.tres .card-react .content4 {
  position: relative;
  width: 70%;
  left: 5%;
  padding: 1rem 1rem 1rem 1rem;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.tres .card-react:hover .content4 {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.tres .card-react .content4 .t-react {
  font-size: 1.3rem;
  line-height: 1em;
  margin-bottom: 5px;
  color: #000000;
}

.tres .card-react .content4 .desc-react {
  font-size: 1.2rem;
  color: #000000;
}

.quatro {
  width: 100vw;
  height: 130vh;
}

.quatro .servicos {
  top: 173rem;
  left: 38.7rem;
  font-size: 1.4rem;
  color: #c9d1d9;
  position: absolute;
  transition: all 300ms ease-in-out;
}

.quatro .servicos:hover {
  color: #fff;
}

.quatro .design-card {
  width: 20rem;
  height: 20rem;
  top: 180rem;
  left: 22.5rem;
  position: absolute;
  background-color: #000000;
  border: 1px solid #000000;
  transition: all 1s ease-in-out;
}

.quatro .design-card:hover {
  border: 1px solid #c9d1d9;
}

.quatro .design-card .design-img {
  width: 4rem;
  top: 1rem;
  left: 1rem;
  position: absolute;
}

.quatro .design-card h4 {
  position: absolute;
  top: 8rem;
  left: 1rem;
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

.quatro .design-card .span-d {
  position: absolute;
  top: 12rem;
  left: 1rem;
  line-height: 2rem;
}

.quatro .webdev-card {
  width: 20rem;
  height: 20rem;
  top: 180rem;
  left: 43.5rem;
  position: absolute;
  background-color: #000000;
  border: 1px solid #000000;
  transition: all 1s ease-in-out;
}

.quatro .webdev-card:hover {
  border: 1px solid #c9d1d9;
}

.quatro .webdev-card .webdev-img {
  width: 4rem;
  top: 1rem;
  left: 1rem;
  position: absolute;
}

.quatro .webdev-card h4 {
  position: absolute;
  top: 8rem;
  left: 1rem;
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

.quatro .webdev-card .span-dev {
  position: absolute;
  top: 12rem;
  left: 1rem;
  line-height: 2rem;
}

.quatro .start {
  font-size: 2rem;
  top: 209rem;
  right: 9rem;
  cursor: pointer;
  position: absolute;
  transition: all 300ms ease-in-out;
}

.quatro .total {
  position: absolute;
  top: 213rem;
  right: 12rem;
}

.quatro .counter {
  position: absolute;
  top: 213rem;
  right: 9rem;
}

.quatro .start:hover {
  transform: scale(1.1);
}

footer {
  position: absolute;
  top: 217rem;
  width: 100vw;
  height: 6rem;
  background-color: transparent;
  border-top: 1px solid #1c1c1c;
}

footer .copy {
  position: absolute;
  bottom: 1rem;
  left: 9rem;
}

footer span {
  position: absolute;
  bottom: 1.2rem;
  left: 63.4rem;
  width: 100%;
}

footer .logo-footer {
  position: absolute;
  width: 7rem;
  bottom: 1rem;
  right: 9.5rem;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #6b727c;
}
